extends ../../page-layouts/page-base/page-base

include ../../components/header/header
include ../../components/footer/footer
include ../../components/advantage/advantage
include ../../components/doughnut-chart/doughnut-chart
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list
include ../../components/reservation/reservation

append variables
  -
    const title = 'Room details';
    const description = 'Отель Toxin, здесь вы можете подобрать себе номер в отеле по вкусу!';
    const keywords = 'Toxin, Main, снять номер, 888, 9990 в сутки';
    const {
      header,
      footer,
      advantages,
      chart,
      comments,
      rules,
      cancel,
      form,
      titles,
    } = htmlWebpackPlugin.options.getData();

    const { choiceCountable } = require('../../libs/utils/utils');
    const commentCountables = ['отзыв', 'отзыва', 'отзывов'];
    const commentCounter = `${comments.length} ${choiceCountable(comments.length, commentCountables)}`;

    // получение ссылок на изображения в собранном проекте
    comments.forEach((comment) => {
      comment.image = require(`./img/${comment.image}`);
    });

append header
  +header(header)
  
append main
  .room-details
    figure.room-details__images
      img.room-details__image(src=require('./img/room-1.jpg') alt="room photo")
      img.room-details__image(src=require('./img/room-2.jpg') alt="room photo")
      img.room-details__image(src=require('./img/room-3.jpg') alt="room photo")

    .room-details__content
      .room-details__wrapper
        .room-details__info
          .room-details__wrapper.room-details__wrapper_small
            h3.room-details__item-title= titles.advantages
            .room-details__advantages
              each advantage in advantages
                +advantage(advantage)

          .room-details__wrapper
            h3.room-details__item-title.room-details__item-title_variant_impression= titles.impression
            +doughnut-chart(chart)

          .room-details__wrapper
            h3.room-details__item-title= titles.comments
              span.room-details__comments-counter= commentCounter
            .room-details__comments
              each comment in comments
                +comment(comment)

          .room-details__wrapper.room-details__wrapper_smaller
            .room-details__rules-title
              h3.room-details__item-title= titles.rules
            +bullet-list(rules)

          .room-details__wrapper.room-details__wrapper_wide
            h3.room-details__item-title= titles.cancel
            .room-details__text= cancel

      .room-details__reservation
        +reservation(form)

append footer
  +footer(footer)
