include ../rate-button/rate-button

mixin room-thumbnail(options = {})
  -
    const { 
      images = [],
      selected = 0,
      rate = 5,
      number = 0,
      price = 0,
      postfix = '₽',
      reviews = 0,
      type = '',
      href = 'error-page',
      icon = 'expand_more',
      perDayTitle = 'в сутки',
      reviewsTitle = 'Отзывов',
    } = options;

    const { makeCurrency } = require('../../libs/utils/utils.js');

  .room-thumbnail.js-room-thumbnail(
    data-selected = selected
    data-price = price
  )
    figure.room-thumbnail__carousel
      each image in images
        img.room-thumbnail__image.js-room-thumbnail__image(
          src = image.path
          alt = image.alt
        )

      .room-thumbnail__prev.js-room-thumbnail__prev
        span.room-thumbnail__icon= icon

      .room-thumbnail__next.js-room-thumbnail__next
        span.room-thumbnail__icon= icon

      .room-thumbnail__buttons
        each image in images
          .room-thumbnail__button.js-room-thumbnail__button

    .room-thumbnail__info
      .room-thumbnail__row
        a.room-thumbnail__number-info(href = `${href}.html`)
          span.room-thumbnail__n №&nbsp;
          span.room-thumbnail__number= number
          span.room-thumbnail__type= type

        .room-thumbnail__price
          strong.room-thumbnail__price-value= makeCurrency(price, postfix)
          span.room-thumbnail__price-per-day &nbsp;#{perDayTitle}

      .room-thumbnail__underline

      .room-thumbnail__row
        +rate-button({ rate })
        span.room-thumbnail__reviews
          strong= reviews
          span &nbsp;#{reviewsTitle}
