include ../rate-button/rate-button

//-
  options.images - массив изображений
  options.images[0].path - путь к картинке для профиля пользователя
  options.images[0].alt - текстовая альтернатива картинке
  options.selected - выбранное изображение
  options.rate - оценка компонента
  options.number - номер комнаты в отеле
  options.price - стоимость номера за день
  options.reviews - количество отзывов на номер
  options.type - тип номера (например, 'люкс')
  options.href - ссылка
mixin room-thumbnail(options = {})
  -
    const { 
      images = [],
      selected = 0,
      rate = 5,
      number = 0,
      price = 0, 
      reviews = 0,
      type = '',
      href = 'error-page',
    } = options;

  .room-thumbnail.js-room-thumbnail(
    data-selected = selected
    data-price = price
  )
    figure.room-thumbnail__carousel
      each image in images
        img.room-thumbnail__image.js-room-thumbnail__image(
          src = image.path
          alt = image.alt
        )
      .room-thumbnail__prev.js-room-thumbnail__prev
        span.room-thumbnail__prev__icon expand_more
      .room-thumbnail__next.js-room-thumbnail__next
        span.room-thumbnail__next__icon expand_more
      .room-thumbnail__buttons
        each image in images
          .room-thumbnail__button.js-room-thumbnail__button
    .room-thumbnail__info
      .room-thumbnail__row
        a.room-thumbnail__number-info(href = `${href}.html`)
          span.room-thumbnail__n= '№'
          span.room-thumbnail__number= number
          span.room-thumbnail__type= type
        .room-thumbnail__price-per-day
          strong.room-thumbnail__price.js-room-thumbnail__price
          span &nbsp;в сутки
      .room-thumbnail__underline
      .room-thumbnail__row
        +rate-button({ rate })
        span.room-thumbnail__reviews
          strong= reviews
          span &nbsp;Отзывов
