include ../dropdown/dropdown
include ../datepicker/datepicker
include ../button/button

mixin reservation(options = {})
  -
    const {
      id = 0,
      number = 0,
      type = '',
      price = 0,
      discount = 0,
      serviceCharge = 0,
      postfix = '₽',
      selectedDays = [],
      rows,
      totalTitle = 'Итого',
      discountTitle = 'Сбор за услуги: скидка',
      perDayTitle = 'в сутки',
      additionalTitle = 'Сбор за дополнительные услуги',
      info = 'i',
    } = options;

    const datepickerValueChanged = `datepicker-value-changed-${id}`;
    const guestsValueChanged = `guests-value-changed-${id}`;
    const dropdownRows = rows.map((row) => ({
      text: row.text,
      counter: row.counter,
      countables: row.countables,
    }));
    const additionals = rows.map((row) => row.additional);
    const totalServiceCharge = (serviceCharge >= discount) ? serviceCharge - discount : 0;
    const { makeCurrency } = require('../../libs/utils/utils.js');

  form.reservation.js-reservation(
    data-price = price
    data-discount = discount
    data-service-charge = serviceCharge
    data-postfix = postfix
    data-datepicker-value-changed = datepickerValueChanged
    data-guests-value-changed = guestsValueChanged
    data-additionals = additionals
  )
    .reservation__info
      a.reservation__number-info(href = 'error-page.html')
        span.reservation__n №&nbsp;
        span.reservation__number= number
        span.reservation__type= type

      span.reservation__price
        strong.reservation__price-value= makeCurrency(price, postfix)
        span &nbsp;
        span.reservation__price-per-day= perDayTitle

    .reservation__datepicker.js-reservation__datepicker
      +datepicker({ 
        title: ['прибытие', 'выезд'], 
        placeholder: ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ'],
        selected: selectedDays,
        isRange: true,
        isSplit: true,
        valueChanged: datepickerValueChanged,
      })

    .reservation__guests-dropdown.js-reservation__guests-dropdown
      +dropdown({
        title: 'гости',
        placeholder: 'Сколько гостей',
        rows: dropdownRows,
        maxLen: 30, 
        type: 'summator',
        countables: ['гость', 'гостя', 'гостей'],
        valueChanged: guestsValueChanged,
      })

    .reservation__calculator
      .reservation__rent.js-reservation__rent
      .reservation__rent-total.js-reservation__rent-total
      .reservation__discount= `${discountTitle} ${makeCurrency(discount, postfix)}`
      span.reservation__info-icon= info
      .reservation__service-charge= makeCurrency(totalServiceCharge, postfix)
      .reservation__additional= additionalTitle
      span.reservation__info-icon= info
      .reservation__additional-total.js-reservation__additional-total

    .reservation__total
      | #{totalTitle}
      span.reservation__dashed-underline
      .reservation__total-cost.js-reservation__total-cost

    .reservation__reserve-button
      +button({ text: 'забронировать', type: 'arrow', href: 'error-page.html' })
