include ../dropdown/dropdown
include ../button/button

//-
  options.number - номер отеля
  options.type - тип отеля (например, 'люкс')
  options.price - строимость отеля за сутки
  options.discount - размер скидки
  options.postfix - валяютный постфикс, по умолчанию '₽'
mixin reservation(options = {})
  -
    const { 
      number = 888,
      type = 'люкс',
      price = 9990,
      discount = 2179,
      additionals = 300,
      postfix = '₽',
    } = options;

    const rows = [
      { text: 'взрослые', counter: 3 },
      { text: 'дети', counter: 0 },
      { text: 'младенцы', counter: 0 },
    ];

    const { makeCurrency } = require('../../libs/utils/utils.js');

  form.reservation
    .reservation__info
      a.reservation__number-info(href = 'error-page.html')
        span.reservation__n №&nbsp;
        span.reservation__number= number
        span.reservation__type= type
      span.reservation__price
        strong.reservation__price-value= makeCurrency(price, postfix)
        span &nbsp;
        span.reservation__price-per-day в сутки
    .reservation__datepicker
      +dropdown({ 
        title: ['прибытие', 'выезд'], 
        placeholder: ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ'],
        type: 'datepicker', 
        isRange: true,
        isSplit: true,
      })
    .reservation__guests-dropdown
      +dropdown({
        title: 'гости',
        placeholder: 'Сколько гостей',
        rows,
        maxLen: 30, 
        type: 'summator',
        countables: ['гость', 'гостя', 'гостей'],
      })
    .reservation__calculator
      .reservation__rent= `${makeCurrency(price, postfix)} x 4 суток`
      .reservation__rent-total 39 960₽
      .reservation__discount= `Сбор за услуги: скидка ${makeCurrency(discount, postfix)}`
      span.reservation__i i
      .reservation__discount-total 0₽
      .reservation__additional Сбор за дополнительные услуги
      span.reservation__i i
      .reservation__additional-total= makeCurrency(additionals, postfix)
    .reservation__total
      | Итого
      span.reservation__dashed-underline
      .reservation__total-cost 38 081₽
    .reservation__reserve-button
      +button({ text: 'забронировать', type: 'arrow' })
